@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* app/ExcelUpload.module.css */

.uploadButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  font-weight: normal;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  font-family: Arial, sans-serif;
}

.uploadButton:hover {
  background-color: #45a049;
}

.fileInput {
  display: none;
}

.duplicatesContainer {
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.duplicatesContainer h3 {
  color: #ff6347;
}

.duplicatesContainer ul {
  list-style-type: none;
  padding: 0;
}

.duplicatesContainer li {
  background-color: #f9f9f9;
  padding: 8px;
  margin: 4px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}